@mixin gradientText {
  @include gradientBg();
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin loaderCircle($width, $height, $color) {
  display: block !important;
  width: $width;
  height: $height;
  position: unset;
  transform: unset;
  text-indent: -9999em;
  border-radius: 50px;
  border-left: 2px solid $color;
  animation: looper 0.2s infinite linear;
}

@mixin cardAnimate($clr) {
  animation: cardshadow 3s linear infinite;
  @keyframes cardshadow {
    from {
      box-shadow: 0 0 10px $clr;
    }
    to {
      box-shadow: 0 0 20px $clr;

    }
  }
}

@mixin gradientBg {
  background: linear-gradient(40deg, #6139e6, #393ce6);
  background: -webkit-linear-gradient(40deg, #6139e6, #393ce6);
}


@keyframes looper {
  to {
    transform: rotate(360deg);
  }
}
